// !compileOnSave
@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/xq-dark.css';
@import '../node_modules/codemirror/addon/hint/show-hint.css';

$color1: #08011D;
$color2: #D2D2D2;

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: lighten($color1, 5%);
  grid-template: 'challenges settings settings' auto
                 'challenges editor editor' 1fr
                 'challenges files results' 20% / minmax(18vw, 280px) auto 1fr;
  font-size: 14px;
  font-family: Helvetica, Arial;
  font-weight: lighter;
  color: $color2;

  nav {
    grid-area: challenges;
    overflow: auto;
    background: lighten($color1, 10%);
  }
  header {
    grid-area: settings;
  }

  #editor {
    grid-area: editor;
  }

  #files {
    overflow: auto;
    grid-area: files;
    ul > li {
      cursor: pointer;
      padding: 4px;
      border-left-width: 8px;
      border-left-color: rgba(0, 0, 0, 0);
      border-left-style: solid;
      cursor: pointer;
      &:hover {
        border-left-color: lighten($color1, 50%);
      }
      margin-right: 4px;
      font-size: 14px;
    }
    .current {
      border-left-color: lighten($color1, 30%);
    }
  }

  button {
    width: 65px;
    margin: 4px;
    background: lighten($color1, 25%);
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 6px 10px;
    color: darken($color2, 20%);
    transition-duration: .35s;
    &:hover {
      background: lighten($color1, 30%);
      color: darken($color2, 5%);
    }
    &:active {
      background: lighten($color1, 35%);
      transition-duration: .15s;
    }
  }

  main {
    grid-area: results;
    padding: 16px;
  }

  li {
    list-style-type: none;
    transition-duration: .35s;
  }

  h3 {
    padding-left: 8px;
    margin-top: 16px;
  }


  .challenge {
    display: grid;
    grid-template: 'title image' auto
                  'description image' auto / 1fr auto;


    h4 {
      grid-area: title;
      margin: 0;
      padding-top: 6px;
      margin-bottom: 2px;
    }

    summary {
      grid-area: description;
      padding-bottom: 6px;
    }

    span {
      grid-area: image;
      padding: 8px;
    }
  }

  h1 {
    font-size: 40px;
    margin: 12px;
  }

  h2 {
    padding: 5px;
    margin: 3px 0;
    font-size: 18px;
    color: lighten($color1, 70%);
  }

  .active {
    background: lighten($color1, 15%);
    border-left-color: lighten($color1, 30%);
  }

  ul {
    padding-left: 0px;
    li {
      ul {
        li {
          padding-left: 4px;
          border-left-width: 8px;
          border-left-color: rgba(0, 0, 0, 0);
          border-left-style: solid;
          cursor: pointer;
          &:hover {
            border-left-color: lighten($color1, 50%);
            background: lighten($color1, 20%);
          }
        }
      }
    }
  }
}
